

.sidebar{
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
    color: #6047EC;
    background-color: rgb(236, 242, 245);
}
.spend-time{
    background-color: rgb(218, 233, 247);
    padding: 10px 20px;
    border-radius: 7px;
}
@media screen and (min-width: 679px) {
    
        .cart-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
  }
@media screen and (min-width: 680px) and (max-width: 1440px) {
    
        .cart-container{
            display: block;
        }
  }