.header{
    padding-left: 30px;
    padding-right: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: large;
    margin-right: 20px;
}
.header a:hover{
    color: blue;
}
