.single-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}